/* header */
#theme {
  height: 100vh;
}

#logoArea {
  background-color: transparent;
  display: flex;
  width: 100%;
  height: 10%;
  padding-top: 8px;
  padding-left: 8px;
}

#logo {
  padding-top: 8px;
  border-radius:10px;
  width: 100px;
  height: 105px;
}

#logoTitle {
  flex: 5;
  font-size: 200%;
  text-align: left;
  padding-top: 42px; 
}

#titleRight {
  flex: 5;
  text-align: right;
  padding-top: 80px;
  padding-right: 12%;
}

#pageSelector {
  display:inline;
  height: 45px;
  padding-right: 40px;
}

#pageInput {
  padding-bottom: 6px;
  text-align: center;
  width: 120px;
  height: 32px;
  font-size: 20px;
}

#pageSelectLeft {
  width: 40px;
  height: 32px;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
}

#pageSelectRight {
  width: 40px;
  height: 32px;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
}

#themeSelector {
  display:inline;
  border-radius: 5px;
}

#themeGreen {
  background-color: #D3FFBE;
}

#themeBlue {
  background-color: #B7F2FF;
}

#themeBlack {
  color: white;
  background-color: #616161;
}

#themeYellow {
  background-color: #FFE7B7;
}
/* main */
#main {
  margin: 5px auto;
  padding-top: 80px;
  display: -webkit-flex;
  display: flex;
  width: 90%;
  height: auto;
}

#oldRender {
  flex: 1;
}

#oldTitle {
  padding-left: 4px;
  border: 1px solid #000000;
}

#oldText {
  overflow: auto;
  padding-left: 2px;
  border: 1px solid #000000;
  width: 100%;
  height: 70vh;
}

#newRender {
  flex: 1;
}

#newTitle {
  padding-left: 4px;
  border: 1px solid #000000;
}

#newText {
  overflow: auto;
  padding-left: 2px;
  border: 1px solid #000000;
  width: 100%;
  height: 70vh;
}

#diffedRender {
  flex: 1;
}

#diffedTitle {
  padding-left: 4px;
  border: 1px solid #000000;
}

#diffedText {
  overflow: auto;
  padding-left: 2px;
  border: 1px solid #000000;
  width: 100%;
  height: 70vh;
}

#diffedDrawGreen {
  background: #8BCE4D;
}

#diffedDrawRed {
  background: #FF4949;
}


/* theme green */
#theme.themeGreen {
  background: #EFF2E4;
}

#theme.themeGreen #logo {
  background: transparent;
}

#theme.themeGreen #main {
  color: #000000;
}

#theme.themeGreen #logoTitle {
  color: #4A8731;
}

#theme.themeGreen #oldTitle, #theme.themeGreen #newTitle, #theme.themeGreen #diffedTitle {
  background: #D3FFBE;
}

#theme.themeGreen #oldText, #theme.themeGreen #newText, #theme.themeGreen #diffedText {
  background: #FFFFFF;
}

/* theme blue */
#theme.themeBlue {
  background: #D7ECFF;
}

#theme.themeBlue #logo {
  background: transparent;
}

#theme.themeBlue #main {
  color: #000000;
}

#theme.themeBlue #logoTitle {
  color: #4A8731;
}

#theme.themeBlue #oldTitle, #theme.themeBlue #newTitle, #theme.themeBlue #diffedTitle {
  background: #B7F2FF;
}

#theme.themeBlue #oldText, #theme.themeBlue #newText, #theme.themeBlue #diffedText {
  background: #FFFFFF;
}

/* theme yellow */
#theme.themeYellow {
  background: #FFF4D7;
}

#theme.themeYellow #logo {
  background: transparent;
}

#theme.themeYellow #main {
  color: #000000;
}

#theme.themeYellow #logoTitle {
  color: #4A8731;
}

#theme.themeYellow #oldTitle, #theme.themeYellow #newTitle, #theme.themeYellow #diffedTitle {
  background: #FFE7B7;
}

#theme.themeYellow #oldText, #theme.themeYellow #newText, #theme.themeYellow #diffedText {
  background: #FFFFFF;
}

/* theme black */
#theme.themeBlack {
  background: #000000;
}

#theme.themeBlack #logo {
  background: #FFFFFF;
}

#theme.themeBlack #main {
  color: #FFFFFF;
}

#theme.themeBlack #logoTitle {
  color: #FFFFFF;
}

#theme.themeBlack #oldTitle, #theme.themeBlack #newTitle, #theme.themeBlack #diffedTitle {
  background: #616161;
}

#theme.themeBlack #oldText, #theme.themeBlack #newText, #theme.themeBlack #diffedText {
  background: #2B2B2B;
}