/* header */
#theme {
  height: 100vh;
}

#logoArea {
  background-color: transparent;
  display: flex;
  width: 100%;
  padding-top: 0px; 
  padding-left: 8px;
}

#logoTitle {
  padding-left: 5px;
  padding-top: 4px;
  font-size: 27px;
}

#titleRight {
  flex: 5;
  text-align: right;
  padding-top: 6px;
  padding-right: 5%;
}

#pageSelector {
  display:inline;
  height: 45px;
  padding-right: 85px;
}

#pageInput {
  padding-bottom: 5px;
  text-align: center;
  width: 100px;
  height: 32px;
  font-size: 18px;
}

#pageInput.notWarn {
  color: black;
}

#pageInput.warn {
  color: #FF4949;
}

#pageSelectLeft, #pageSelectRight {
  width: 34px;
  height: 32px;
}

#themeSelector {
  height: 34px;
  width: 80px;
  display:inline;
  border-radius: 5px;
}

.dropdown-menu {
  padding: 0px 0;
  min-width: 80px;
}

#themeDefault {
  height: 26px;
  margin: 4px;
  background-color: #FFFFFF;
  border: 1px solid #DDDDDD;
}

#themeGreen {
  height: 26px;
  margin: 4px;
  background-color: #D3FFBE;
}

#themeBlack {
  height: 26px;
  margin: 4px;
  color: white;
  background-color: #2B2B2B;
}
/* main */
#main {
  padding-top: 1px;
  font-size: 16.5px;
  padding-left: 1%;
  padding-right: 1%;
  display: -webkit-flex;
  display: flex;
  width: 100%;
  height: 90%;
}

#oldRender, #newRender, #diffedRender {
  flex: 1;
  height: 100%;
}

.ReactCodeMirror {
  height: 99%;
}

#oldTitle, #newTitle, #diffedTitle {
  padding-left: 4px;
  font-size: 18px;
}

.CodeMirror, #diffedText {
  font-size: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  height: 95%;
}

#oldTitle, .CodeMirror {
  box-shadow: 0px 4px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 3px 0 rgba(0, 0, 0, 0.09);
}

#newTitle, .CodeMirror {
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.1), 0 6px 3px 0 rgba(0, 0, 0, 0.09);
}

#diffedTitle, #diffedText {
  box-shadow: 3px 4px 2px 0 rgba(0, 0, 0, 0.1), 3px 6px 3px 0 rgba(0, 0, 0, 0.09);
}

#diffedRender {
  flex: 1;
}

.closeRender {
  font-size: 20px; 
  display: inline;
  padding-left: 2px;
  cursor: pointer;
}

#diffedDrawGreen {
  background: #8BCE4D;
}

#diffedDrawRed {
  background: #FF4949;
}
/* theme default */
#theme.themeDefault {
  background: #FAFAFA;
}

#theme.themeDefault .CodeMirror-sizer {
  color: #050505;
}

#theme.themeDefault #logoTitle {
  color: #050505;
}

#theme.themeDefault #pageSelectLeft, #theme.themeDefault #pageSelectRight {
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #BBBBBB;
}

#theme.themeDefault #themeDropdown {
  color: #000000;
  background-color: #FFFFFF;
  border-color: #BBBBBB;
}

#theme.themeDefault #themeDropdown:hover, .open > #theme.themeDefault #themeDropdown:hover, .open > #theme.themeDefault #themeDropdown:focus {
  color: #000000;
  background-color: #F7F7F7;
  border-color: #616161;
}

#theme.themeDefault .dropdown-menu {
  background-color: #F9F9F9;
}

#theme.themeDefault #oldTitle, #theme.themeDefault #newTitle, #theme.themeDefault #diffedTitle {
  background: #F7F7F7;
  border: 1px solid #DDDDDD;
}

#theme.themeDefault .CodeMirror-gutters {
  background: #F7F7F7;
  border-right: 1px solid #DDDDDD;
}

#theme.themeDefault .CodeMirror-linenumber {
  color: #999999;
}

#theme.themeDefault .CodeMirror, #theme.themeDefault #diffedText {
  background: #FFFFFF;
  border: 1px solid #DDDDDD;
}

#theme.themeDefault .CodeMirror-selected { 
  background: #D9D9D9; 
}

#theme.themeDefault .CodeMirror-focused .CodeMirror-selected { 
  background: #AAD6FF; 
}
/* theme green */
#theme.themeGreen {
  background: #EFF2E4;
}

#theme.themeGreen .CodeMirror-sizer {
  color: #000000;
}

#theme.themeGreen #logoTitle {
  color: #4A8731;
}

#theme.themeGreen #pageSelectLeft, #theme.themeGreen #pageSelectRight {
  color: #000000;
  background-color: #F4FFEF;
  border: 1px solid #DDDDDD;
}

#theme.themeGreen #themeDropdown {
  color: #000000;
  background-color: #F4FFEF;
  border-color: #DDDDDD;
}

#theme.themeGreen #themeDropdown:hover, .open > #theme.themeGreen #themeDropdown:hover, .open > #theme.themeGreen #themeDropdown:focus {
  color: #000000;
  background-color: #E3EEDE;
  border-color: #DDDDDD;
}

#theme.themeGreen #oldTitle, #theme.themeGreen #newTitle, #theme.themeGreen #diffedTitle {
  background: #F4FFEF;
  border: 1px solid #DDDDDD;
}

#theme.themeGreen .CodeMirror-gutters {
  background: #F4FFEF;
  border-right: 1px solid #DDDDDD;
}

#theme.themeGreen .CodeMirror-linenumber {
  color: #999999;
}

#theme.themeGreen .CodeMirror, #theme.themeGreen #diffedText {
  background: #FBFFF8;
  border: 1px solid #DDDDDD;
}

#theme.themeGreen .CodeMirror-selected { 
  background: #D9D9D9; 
}

#theme.themeGreen .CodeMirror-focused .CodeMirror-selected { 
  background: #AAD6FF; 
}
/* theme black */
#theme.themeBlack {
  background: #2B2B2B;
}

#theme.themeBlack .CodeMirror-sizer {
  color: #DCDCBA;
}

#theme.themeBlack #main {
  color: #DCDCBA;
}

#theme.themeBlack #logoTitle {
  color: #DCDCBA;
}

#theme.themeBlack #pageSelectLeft, #theme.themeBlack #pageSelectRight {
  color: #DCDCBA;
  background-color: #464545;
  border: 1px solid #333333;
}

#theme.themeBlack #themeDropdown {
  color: #DCDCBA;
  background-color: #464545;
  border-color: #1F1F1F;
}

#theme.themeBlack #themeDropdown:hover, .open > #theme.themeBlack #themeDropdown:hover, .open > #theme.themeBlack #themeDropdown:focus {
  color: #DCDCBA;
  background-color: #605E5E;
  border-color: #1F1F1F;
}

#theme.themeBlack .dropdown-menu {
  background-color: #555555;
}

#theme.themeBlack #oldTitle, #theme.themeBlack #newTitle, #theme.themeBlack #diffedTitle {
  background: #616161;
  border: 1px solid #000000;
}

#theme.themeBlack .CodeMirror-gutters {
  background: #616161;
  border-right: 1px solid #333333;
}

#theme.themeBlack .CodeMirror-linenumber {
  color: #BABA98;
}

#theme.themeBlack .CodeMirror, #theme.themeBlack #diffedText {
  background: #3F3F3F;
  border: 1px solid #000000;
}

#theme.themeBlack .CodeMirror-selected { 
  background: #818593; 
}

#theme.themeBlack .CodeMirror-focused .CodeMirror-selected { 
  background: #5D88B3; 
}